
.ditails{
  margin: 500px;
  margin-left: 760px;
font-size: 21px;
}

.imgg3{
  margin: 150px;
  width: 600px;
  height: 300px;
  margin-top: -120px;
  margin-right: -2000px;
 
}
.IMG5{
  height: 100px;
}
.imgg4{
  margin-right: 550px;
  margin-left: -600px;
  width: 600px;
  height: 300px;
  margin-top: -100px;
}
.ditails2{
margin-right: 1200px;
margin: 150px;
margin-top: -300px;
font-size: 21px;
}
.ciy{
  background-position: center;
  margin: 0 8%;

}
.img1{
  width: 400px;
  height: 200px;
}
.card-img-top1{
  
  margin: top -40px;
 
 
}
.main3{
  align-items: center;
height: 100%;
width: 100%;
}
.col{
  margin-left: 90px;
  width: 300px;
  align-items: center;
 
}


.card-title{
  text-align: center; 

  margin-top: -10px;
}
 .main{

  text-align: center; 

 }

  body {
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
  }
  
  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  .recipe-card {
    width: 31%;
    height: 40%;
    min-width: 240px;
    margin: 1%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  
  
  }
  
  .recipe-card-image {
    overflow: hidden;
    height: 50%;
  }
  
  .recipe-card-image img {
    width: 120px;
   
  }
  
  .recipe-card-content {
    padding: 16px;
  }
  
  .recipe-title {
    margin: 0;
  }



body {
  overflow-x: hidden;
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.text-muted {
  color: #777;
}

.text-primary {
  color: #1ee2e7;
}

p {
  font-size: 14px;
  line-height: 1.75;
}

p.large {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
}

a {
  color: #848f8f;
}

a:hover,
a:focus,
a:active,
a.active {
  color: #646969;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

.bg-light-gray {
  background-color: #f7f7f7;
 
 align-items: center;
}



.btn-xl .badge {
  color: #fed136;
  background-color: #fff;
}


section {
  padding: 100px 0;
}

section h2.section-heading {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 40px;
}

section h3.section-subheading {
  margin-bottom: 75px;
  text-transform: none;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}

@media(min-width:768px) {
  section {
      padding: 150px 0;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #d0e7e77a;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  margin: 0 auto;
  padding: 25px;
  max-width: 400px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  margin: 0;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-style: italic;
}

#portfolio * {
  z-index: 2;
}

@media(min-width:767px) {
  #portfolio .portfolio-item {
      margin: 0 0 30px;
  }
}

.intro-header { 
  padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  padding-bottom: 50px;
  text-align: center;
  background: url('https://res.cloudinary.com/nina07/image/upload/v1477146610/Untitled_design_2_d1xzal.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 855px;
}
.bg-overlay {
background:rgba(0,0,0, 0.3);
height: 855px;
}

.intro-message {
  position: relative;
  padding-top: 20%;
  padding-bottom: 20%;
}
/*Big header*/
.intro-message > h1 {
  margin-top: -50px;
  text-shadow: 2px 1px 2px #000;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.7);
}

.intro-divider {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
color: black;
}

@media(max-width:767px) {
  .intro-message {
      padding-bottom: 15%;
  }

  .intro-message > h1 {
      font-size: 3em;
  }

  ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
  }

  ul.intro-social-buttons > li:last-child {
      margin-bottom: 0;
  }

  .intro-divider {
      width: 100%;
  }
}
hr.intro-divider {
  border: 1px outset rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.6);
  width: 100%;
}
/* social buttons */
.btn {
  display: inline-block;
  color: #000;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: #C0C0C0;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
  transition: 0.2s;
}

.btn:hover {
	color: #fff;
  border: 2px outset rgba(0, 0, 0, 0.9);
  background: rgba(0,0,0, 0.9);
  transform:scale(1.1);
  transition: 0.2s;
  text-shadow: 1px 1px 1px rgba(0,0,0, 20);
  box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
  letter-spacing: 2px;
}


.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  border: 7px solid #f1f1f1;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  background-color: #1ee2e7;
}

.timeline>li .timeline-image h4 {
  margin-top: 12px;
  font-size: 10px;
  line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline>li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
  margin-bottom: 0;
}

@media(min-width:768px) {
  .timeline:before {
      left: 50%;
  }

  .timeline>li {
      margin-bottom: 100px;
      min-height: 100px;
  }

  .timeline>li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
  }

  .timeline>li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
  }

  .timeline>li .timeline-image h4 {
      margin-top: 16px;
      font-size: 13px;
      line-height: 18px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
  }
}
/* .img-responsive{
  height: 200px;
} */

@media(min-width:992px) {
  .timeline>li {
      min-height: 150px;
  }

  .timeline>li .timeline-panel {
      padding: 0 20px 20px;
  }

  .timeline>li .timeline-image {
      width: 150px;
      height: 150px;
      margin-left: -75px;
  }

  .timeline>li .timeline-image h4 {
      margin-top: 30px;
      font-size: 18px;
      line-height: 26px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
      padding: 0 20px 20px;
  }
}

@media(min-width:1200px) {
  .timeline>li {
      min-height: 170px;
  }


  .timeline>li .timeline-panel {
      padding: 0 20px 20px 100px;
  }

  .timeline>li .timeline-image {
      width: 170px;
      height: 170px;
      margin-left: -85px;
  }

  .timeline>li .timeline-image h4 {
      margin-top: 40px;
  }

  .timeline>li.timeline-inverted>.timeline-panel {
      padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  margin: 0 auto;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
} 
form {
  display:block;
  width:450px;
  height:auto;
  margin:50px auto;
  padding:10px;
  border-radius:15px;
  background-color:rgba(192, 188, 188, 0.918);
  font-size:16px;
  font-family:'Arial';
  color:rgb(7, 7, 7)
}

.textbox {
  width:400px;
  height:auto;
  margin-left:10px;
  padding:10px;
  border:none;
  border-radius:10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color:#f1f1f1;
  font-size:16px;
  color:rgba(0,0,0,0.5);
  outline: none;
}


